<div fxLayout="column" fxLayoutGap="1rem">
  <mat-toolbar color="primary">
    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <h1>Wartemis</h1>
  </mat-toolbar>
  <div id="appContent">
    <router-outlet></router-outlet>
  </div>

  <!--<mat-sidenav-container fxFlex class="example-container">
    <mat-sidenav mode="side" opened>Drawer content
      <mat-nav-list>
        <a mat-list-item *ngFor="let client of lobby?.clients">{{client.name}}</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>-->
</div>
