<mat-sidenav-container class="appNavLeft">
  <mat-sidenav #sidenav mode="over">
    <mat-action-list>
      <mat-list-item [routerLink]="'/'" (click)="sidenav.close()">
        <mat-icon matListIcon>home</mat-icon>
        <h3 matLine>Lobby</h3>
        <p matLine>
          <span>{{pluralize(lobby?.rooms.length, 'game', 'games')}}</span>
        </p>
      </mat-list-item>
    </mat-action-list>
  </mat-sidenav>
  <mat-sidenav-content fxLayout="column">
    <mat-toolbar color="primary">
      <button (click)="sidenav.toggle()" mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
      <h1>Wartemis</h1>
    </mat-toolbar>
    <div fxFlex>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
