<div class="lobbyRoot">
  <button class="app-button-right-bottom" (click)="openDialogNewGame()" mat-fab color="primary">
    <mat-icon>add</mat-icon>
  </button>

  <div fxLayout="column" fxLayoutGap="1rem">

    <h1 class="mat-display-1">Open Games</h1>

    <div fxLayout="row wrap" fxLayoutGap="1rem grid" fxLayoutAlign="center center">
      <app-game-card *ngFor="let game of games.open" [game]="game"></app-game-card>
    </div>

    <h1 class="mat-display-1">Started Games</h1>

    <div fxLayout="row wrap" fxLayoutGap="1rem grid" fxLayoutAlign="center center">
      <app-game-card *ngFor="let game of games.started" [game]="game"></app-game-card>
    </div>

    <h1 class="mat-display-1">Finished Games</h1>

    <div fxLayout="row wrap" fxLayoutGap="1rem grid" fxLayoutAlign="center center">
      <app-game-card *ngFor="let game of games.finished" [game]="game"></app-game-card>
    </div>

  </div>
</div>
