<div class="lobbyRoot">
  <button class="app-button-right-bottom" (click)="openDialogNewRoom()" mat-fab color="primary">
    <mat-icon>add</mat-icon>
  </button>

  <div fxLayout="column" fxLayoutGap="1rem">

    <h1 class="mat-display-1">Open Games</h1>

    <div fxLayout="row wrap" fxLayoutGap="1rem grid" fxLayoutAlign="center center">
      <app-room-card *ngFor="let room of rooms.open" [room]="room"></app-room-card>
    </div>

    <h1 class="mat-display-1">Started Games</h1>

    <div fxLayout="row wrap" fxLayoutGap="1rem grid" fxLayoutAlign="center center">
      <app-room-card *ngFor="let room of rooms.started" [room]="room"></app-room-card>
    </div>

    <h1 class="mat-display-1">Finished Games</h1>

    <div fxLayout="row wrap" fxLayoutGap="1rem grid" fxLayoutAlign="center center">
      <app-room-card *ngFor="let room of rooms.finished" [room]="room"></app-room-card>
    </div>

  </div>
</div>
