<div fxFlexFill fxLayout="row">

  <!-- left menu -->
  <mat-accordion fxFlex="20rem" multi="true" class="roomNavLeft">

    <!-- game -->
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Game
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-action-list>
        <mat-list-item *ngIf="connected && !room?.started" (click)="start()">
          <mat-icon matListIcon>play_arrow</mat-icon>
          Start
        </mat-list-item>
        <mat-list-item *ngIf="connected && room?.started && !room?.stopped" (click)="stop()">
          <mat-icon matListIcon>stop</mat-icon>
          Stop
        </mat-list-item>
      </mat-action-list>
      <mat-list>
        <mat-list-item>
          <mat-icon matListIcon>label</mat-icon>
          {{engine?.name}}
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>

    <!-- bots -->
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Bots ({{bots.length}})
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-action-list>
        <mat-list-item *ngIf="!room?.started" [disabled]="!lobbyBots.length" (click)="openDialogAddBot()">
          <mat-icon matListIcon>add</mat-icon>
          Add a bot!
        </mat-list-item>
        <mat-list-item *ngFor="let bot of bots">
          <mat-icon matListIcon>memory</mat-icon>
          {{bot.name}}
        </mat-list-item>
      </mat-action-list>
    </mat-expansion-panel>

    <!-- spectators -->
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Spectators ({{viewers.length || 0}})
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-action-list>
        <mat-list-item *ngFor="let viewer of viewers">
          <mat-icon matListIcon>face</mat-icon>
          {{viewer.name}}
        </mat-list-item>
      </mat-action-list>
    </mat-expansion-panel>

  </mat-accordion>

  <!-- content -->
  <div fxFlex class="roomContent">
    <div *ngIf="!connected" fxFlex fxLayoutAlign="center center">
      <button (click)="connect()" mat-raised-button color="primary" >
        Connect
      </button>
    </div>
    <ng-container *ngIf="room?.started">
      <ng-container [ngSwitch]="engine.name">
        <app-game-conquest *ngSwitchCase="'Conquest'" fxFlex></app-game-conquest>
        <app-game-planet-wars *ngSwitchCase="'Planet Wars'" fxFlex></app-game-planet-wars>
        <div *ngSwitchDefault>No renderer found for {{ engine.name }}... Sorry!</div>
      </ng-container>
    </ng-container>
  </div>

</div>
