<div fxFlexFill fxLayout="row">

  <!-- left menu -->
  <mat-accordion multi="true" class="roomNavLeft">

    <!-- bots -->
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Bots ({{room?.bots.length}})
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-action-list>
        <mat-list-item (click)="addClientDialog()">
          <mat-icon matListIcon>add</mat-icon>
          Add a bot!
        </mat-list-item>
        <mat-list-item *ngFor="let bot of room?.bots">
          <mat-icon matListIcon>memory</mat-icon>
          {{bot.name}} - {{bot.key | slice:0:14}}...
        </mat-list-item>
      </mat-action-list>
    </mat-expansion-panel>

    <!-- spectators -->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Spectators ({{room?.spectators.length}})
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-action-list>
        <mat-list-item *ngFor="let spectator of room?.spectators">
          <mat-icon matListIcon>face</mat-icon>
          {{spectator.name}}
        </mat-list-item>
      </mat-action-list>
    </mat-expansion-panel>

    <!-- stats -->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Properties
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-list>
        <mat-list-item>
          <mat-icon matListIcon>menu</mat-icon>
          <span>Name: {{room?.name}}</span>
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>

  </mat-accordion>

  <!-- content -->
  <div fxFlex class="roomContent">
    <!-- TODO -->
  </div>

</div>
