<div fxFlexFill fxLayout="row">

  <!-- left menu -->
  <mat-accordion fxFlex="20rem" multi="true" class="roomNavLeft">

    <!-- game -->
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Game
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-action-list>
        <mat-list-item *ngIf="connected && !room?.started" (click)="startGame()">
          <mat-icon matListIcon>play_arrow</mat-icon>
          Start
        </mat-list-item>
      </mat-action-list>
      <mat-list>
        <mat-list-item>
          <mat-icon matListIcon>label</mat-icon>
          {{room?.engines[0]?.name}}
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>

    <!-- bots -->
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Bots ({{room?.players.length || room?.bots.length}})
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-action-list>
        <mat-list-item *ngIf="!room?.started" [disabled]="!validBots.length" (click)="openDialogAddBot()">
          <mat-icon matListIcon>add</mat-icon>
          Add a bot!
        </mat-list-item>
        <ng-container *ngIf="!room?.players.length">
          <mat-list-item *ngFor="let bot of room?.bots; let i = index">
            <mat-icon [ngStyle]="{'background-color':bot.color}" matListIcon class="icon-white">memory</mat-icon>
            {{bot.name}}
          </mat-list-item>
        </ng-container>
        <ng-container *ngIf="room?.players.length">
          <mat-list-item *ngFor="let player of room?.players; let i = index">
            <mat-icon [ngStyle]="{'background-color':player.color}" matListIcon class="icon-white">memory</mat-icon>
            {{player.name}}
          </mat-list-item>
        </ng-container>
      </mat-action-list>
    </mat-expansion-panel>

    <!-- spectators -->
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Spectators ({{room?.viewers.length || 0}})
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-action-list>
        <mat-list-item *ngFor="let viewer of room?.viewers">
          <mat-icon matListIcon>face</mat-icon>
          {{viewer.name}}
        </mat-list-item>
      </mat-action-list>
    </mat-expansion-panel>

  </mat-accordion>

  <!-- content -->
  <div fxFlex>
    <div *ngIf="!connected" fxFlex fxLayoutAlign="center center">
      <button (click)="connect()" mat-raised-button color="primary" >
        Connect
      </button>
    </div>
    <ng-container *ngIf="room?.started">
      <div fxFlex fxLayout="column" class="roomContent">
        <ng-container [ngSwitch]="room?.engines[0]?.name">
          <app-game-conquest    *ngSwitchCase="'Conquest'"    [players]="room.players" [playing]="playing" [speed]="speed" (done)="turnEnd()" fxFlex></app-game-conquest>
          <app-game-planet-wars *ngSwitchCase="'Planet Wars'" [players]="room.players" [playing]="playing" [speed]="speed" (done)="turnEnd()" fxFlex></app-game-planet-wars>
          <div *ngSwitchDefault>No renderer found for {{ room?.engines[0]?.name || 'N/A' }}... Sorry!</div>
        </ng-container>
        <mat-toolbar fxLayout="row" fxLayoutGap=".5rem" color="primary">
          <mat-slider [(ngModel)]="speed"></mat-slider>
          <button (click)="start()" mat-icon-button>
            <mat-icon>skip_previous</mat-icon>
          </button>
          <button (click)="back()" mat-icon-button>
            <mat-icon>fast_rewind</mat-icon>
          </button>
          <button (click)="togglePlaying()" mat-icon-button>
            <mat-icon *ngIf="!playing">play_arrow</mat-icon>
            <mat-icon *ngIf="playing">pause</mat-icon>
          </button>
          <button (click)="forward()" mat-icon-button>
            <mat-icon>fast_forward</mat-icon>
          </button>
          <button (click)="end()" mat-icon-button>
            <mat-icon>skip_next</mat-icon>
          </button>
          <mat-slider [(ngModel)]="turn" [max]="history.length" min="1" step="1" thumbLabel fxFlex></mat-slider>
          <div>
            {{ turn }} / {{ history.length }}
          </div>
        </mat-toolbar>
      </div>
    </ng-container>
  </div>

</div>
